@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000;
  --background-start-color: #f8f5f2;
  --background-end-color: #f8f5f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #000;
    --background-start-color: #f8f5f2;
    --background-end-color: #f8f5f2;
  }
}

body {
  /* overflow: hidden; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
