.downloadsContainer {
  animation: InAnimation 0.2s ease-in-out;
}

.inClose {
  animation: OutAnimation 0.2s ease-in-out;
}

@keyframes InAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes OutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
